{"openapi":"3.1.0","info":{"title":"True Fit Partner API","version":"2026-08-05","description":"These APIs can be used to manage True Fit profiles on behalf of your own users and to\nrequest size recommendations for retailer products.\n\n# Getting Started\n\nHere are the general concepts - please see further below for the specific endpoint\ndocumentation.\n\n## Base URL\n\nEvery path in this reference is relative to the base URL, which already includes the\n`/api` prefix:\n\n```\nhttps://partner.truefitcorp.com/api\n```\n\n## Authentication\n\nAll `/partner/{partnerId}/**` endpoints use HTTP Basic authentication. The **username is\nempty** and the **password is your partner API key**:\n\n```\nAuthorization: Basic <base64(\":\" + apiKey)>\n```\n\nNote the leading colon. `base64(apiKey)` without it has no separator and is rejected\nwith `401`.\n\nAn unknown or disabled `partnerId` returns `404` **before** credentials are checked, so a\n`404` on your first call points at the `partnerId` or the environment, not at the key.\n\n`GET /id-sync` is authenticated differently - it is signed with HMAC-SHA256 rather than\nBasic auth. See that endpoint for the signing scheme.\n\n## Identifying a user\n\nPartner endpoints operate on a True Fit user, not on your identifier directly.\n`GET /id-sync` creates that user and maps one of your identifiers to it. Call it once per\nuser, store the `tfPartnerUserId` it returns, and drive every later request from that.\n\nExcept for `POST /general-guidance/bulk`, every endpoint needs a user identifier as a\nquery parameter:\n\n* `tfPartnerUserId` - the identifier returned by `GET /id-sync`. Preferred: it is a\n  durable handle on one specific True Fit user and its data.\n* `partnerUserId` - your own identifier for the user, as passed to `GET /id-sync`.\n\nSupply at least one; omitting both returns `400`. If you send both, `tfPartnerUserId`\ntakes precedence. An identifier that was never synced returns `401 Unknown partner user`,\nwhich means \"call `GET /id-sync` first\" rather than \"bad credentials\".\n\n## Profiles\n\nA profile is the entity that holds information about the person being shopped for -\ndepartment, alias, measurements, and closet items. When a profile is created it is\nassigned a `profileId`, which is then used in the path of the measurements, closet, and\nrecommendation endpoints.\n\nA user may have several profiles, one per person they shop for. List them with\n`GET /profile` and address them explicitly by `profileId`; there is no implicit \"current\"\nprofile in this API.\n\nProfiles you create record your `partnerId` as their `originStore`.\n\n## Getting a size recommendation\n\nA profile needs measurements, closet items, or both before it can be sized: a profile\ncarrying neither has nothing to size against and returns `incompleteProfile`. Add\nmeasurements with `PUT /profile/{profileId}/measurements` and closet items with\n`POST /profile/{profileId}/closet`, then call\n`POST /profile/{profileId}/recommendation/bulk`.\n\nProfile writes trigger asynchronous body estimation, so a recommendation requested\nimmediately after one may return `userEstimationInProgress`. Retry after a short delay.\n\nWhen no profile exists - anonymous visitors, or a product page before registration -\nuse `POST /general-guidance/bulk` instead. It returns how a product ran for shoppers\ngenerally, needs no user identifier, and is the natural fallback when a recommendation\nreturns `incompleteProfile` or `noProfile`.\n\n## Example Flow - Product Page\n\n1. Once per user, call `GET /id-sync` and persist the returned `tfPartnerUserId`.\n2. Call `GET /profile` to list the user's profiles.\n3. If the list is empty, give the user an opportunity to register, then create a profile\n   with `POST /profile`.\n4. Add what you know about the user: `PUT /profile/{profileId}/measurements`, and\n   `POST /profile/{profileId}/closet` for garments they already own.\n5. Call `POST /profile/{profileId}/recommendation/bulk` with the products on the page and\n   present `recommendedSize` for each successful result.\n6. For products that return `success: false`, or when no profile exists, fall back to\n   `POST /general-guidance/bulk`.\n\n## Bulk requests\n\nBoth bulk endpoints take a JSON **array** of 1 to 100 items and return an array of the\n**same length and in the same order**, so results can be matched to requests by position.\nEach result also echoes the `retailerDomain`, `productId`, and `locale` you sent.\n\nFailures are per item: each result carries `success: true` with its data, or\n`success: false` with an `error` string. One unrecognised product does not fail the batch,\nand the HTTP status is still a success status.\n\n`retailerDomain` accepts a hostname or a full URL, from which only the hostname is used -\nprotocol, port, path, and query string are discarded, and matching is case-insensitive.\n`www.` is not stripped, so confirm with True Fit which exact hostnames are registered for\nyour retailers.\n\n## Request bodies\n\nEnum values are documented in their canonical lowercase form but matched\ncase-insensitively, so `Womens` and `womens` are equally valid - the stored and returned\nvalue is always lowercase. Fields not listed in a schema are ignored rather than rejected.\n\n## General API Behavior\n\n* Success statuses vary by endpoint. Empty-bodied writes return `200` in some places and\n  `204` in others, and both bulk endpoints return `201`. Treat any 2xx as success rather\n  than matching an exact code.\n* A `400 - Bad Request` is returned when a body or query string fails validation, or when\n  no user identifier is supplied.\n* A `401 - Unauthorized` is returned for a missing or wrong API key, and for a user\n  identifier that has no True Fit mapping.\n* A `404 - Not Found` is returned for an unknown or disabled `partnerId`, and for a\n  `profileId` that does not exist or does not belong to the identified user. Another\n  user's profile returns `404` rather than `403` so that the API cannot be used to detect\n  whether a profile exists.\n* It is possible for any endpoint to return a `500 - Internal Server Error` if an\n  unexpected error is encountered.\n* Validation failures carry a field-keyed error map and, unlike other errors, no\n  `statusCode` field:\n\n```json\n{ \"message\": \"Validation failed\", \"error\": { \"0.retailerDomain\": \"Invalid input: expected string, received undefined\" } }\n```\n\nArray indices appear as the first path segment, so `0.retailerDomain` is the\n`retailerDomain` field of the first item in a bulk request. All other errors use the\nstandard shape:\n\n```json\n{ \"statusCode\": 404, \"message\": \"Profile not found\", \"error\": \"Not Found\" }\n```\n\n## Rate limits\n\nNo rate limits are enforced today. Expected request volume should be agreed during\nonboarding.\n","contact":{"name":"True Fit","email":"tech@truefit.com"},"license":{"name":"Proprietary - (c) True Fit Corporation"}},"servers":[{"url":"https://partner.truefitcorp.com/api","description":"Partner API"}],"security":[{"partnerApiKey":[]}],"tags":[{"name":"Identity","description":"Establishing a True Fit user for one of your users."},{"name":"Profiles","description":"Creating and managing fit profiles belonging to a partner user."},{"name":"Measurements","description":"Body measurements attached to a profile."},{"name":"Closet","description":"Garments the user already owns, used to sharpen recommendations."},{"name":"Recommendations","description":"Size recommendations and general fit guidance for retailer products."}],"paths":{"/id-sync":{"get":{"operationId":"syncIds","tags":["Identity"],"summary":"Create a True Fit user for one of your users","description":"Creates a True Fit user and maps one of your user identifiers to it. Call this once per\nuser, before any other endpoint.\n\n**Sync each user exactly once and store the returned `tfPartnerUserId`.** Re-syncing a\n`partnerUserId` that has already been synced is not supported: it issues a new\n`tfPartnerUserId` and detaches the profiles, measurements, and closet items written\nunder the previous one.\n\n### Signing the request\n\nRequests are signed with HMAC-SHA256 using the shared partner secret issued during\nonboarding. Build the canonical string from every query parameter **except** `hash`,\nsorted by parameter name, URL-encoding each value:\n\n```\ncanonical = \"partnerId=<value>&partnerUserId=<value>\"          # sorted, hash excluded\nhash      = hex(hmac_sha256(partnerSecret, canonical))\n```\n\n`redirectUri`, when present, participates in the signature like any other parameter.\nThe comparison is timing-safe and the hash must be lowercase hex.\n\nThis endpoint does **not** use Basic authentication - do not send an `Authorization`\nheader.\n","security":[],"parameters":[{"name":"partnerId","in":"query","required":true,"description":"Your partner identifier, issued during onboarding.","schema":{"type":"string"},"example":"acme"},{"name":"partnerUserId","in":"query","required":true,"description":"Your own stable identifier for the user.","schema":{"type":"string"},"example":"acme-user-42817"},{"name":"redirectUri","in":"query","required":false,"description":"When supplied, the response is a `302` redirect to this URI instead of a JSON body.\nIntended for browser-based flows; server-to-server integrations should omit it.\n","schema":{"type":"string","format":"uri"}},{"name":"hash","in":"query","required":true,"description":"Lowercase hex HMAC-SHA256 signature over the other query parameters.","schema":{"type":"string","pattern":"^[0-9a-f]{64}$"}}],"responses":{"200":{"description":"The newly created user mapping.","content":{"application/json":{"schema":{"type":"object","required":["tfPartnerUserId"],"properties":{"tfPartnerUserId":{"type":"string","description":"True Fit's identifier for this partner user. Prefixed with `p-`. Store it\nand send it as the `tfPartnerUserId` query parameter on later requests.\n","example":"p-3f9c1a80-5d2e-4a17-9b64-8e0c2d7f1a55"}}}}}},"302":{"description":"Returned instead of `200` when `redirectUri` was supplied.","headers":{"Location":{"schema":{"type":"string","format":"uri"}}}},"400":{"$ref":"#/components/responses/MissingIdSyncParams"},"401":{"description":"The `hash` parameter is missing or the signature does not match.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalidSignature":{"value":{"statusCode":401,"message":"Invalid HMAC signature","error":"Unauthorized"}}}}}},"404":{"$ref":"#/components/responses/UnsupportedPartner"}}}},"/partner/{partnerId}/profile":{"parameters":[{"$ref":"#/components/parameters/partnerId"},{"$ref":"#/components/parameters/partnerUserId"},{"$ref":"#/components/parameters/tfPartnerUserId"}],"get":{"operationId":"listProfiles","tags":["Profiles"],"summary":"List the user's profiles","description":"Returns every profile belonging to the user, oldest first is not guaranteed - treat the\norder as unspecified and address profiles by `profileId`. A user with no profiles yet\nreturns an empty array.\n","responses":{"200":{"description":"The user's profiles.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Profile"}},"examples":{"single":{"value":[{"profileId":"7c9e6679-7425-40de-944b-e07fc1f90ae7","alias":"Primary","department":"womens","isActive":false,"estimatedDob":"1994-03-01T00:00:00.000Z","originStore":"acme","originLocale":null,"createdAt":"2026-07-14T09:12:44.000Z","updatedAt":"2026-07-31T16:02:10.000Z"}]},"empty":{"value":[]}}}}},"400":{"$ref":"#/components/responses/MissingUserIdentifier"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/UnsupportedPartner"}}},"post":{"operationId":"createProfile","tags":["Profiles"],"summary":"Create a profile","description":"Creates a profile for the user. The created profile records your `partnerId` as its\n`originStore`. An empty object is a valid body; both fields are optional.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProfileRequest"},"examples":{"withDepartment":{"value":{"alias":"Primary","department":"womens"}},"minimal":{"value":{}}}}}},"responses":{"201":{"description":"The created profile.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"400":{"$ref":"#/components/responses/ValidationFailed"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/UnsupportedPartner"}}}},"/partner/{partnerId}/profile/{profileId}":{"parameters":[{"$ref":"#/components/parameters/partnerId"},{"$ref":"#/components/parameters/profileId"},{"$ref":"#/components/parameters/partnerUserId"},{"$ref":"#/components/parameters/tfPartnerUserId"}],"put":{"operationId":"updateProfile","tags":["Profiles"],"summary":"Update a profile","description":"Partially updates the profile. Only the fields you send are changed. Updating a profile\nre-runs body estimation, so a subsequent recommendation may briefly return\n`userEstimationInProgress`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"},"examples":{"rename":{"value":{"alias":"Weekend"}}}}}},"responses":{"204":{"description":"Updated. No response body."},"400":{"$ref":"#/components/responses/ValidationFailed"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/ProfileNotFound"}}},"delete":{"operationId":"deleteProfile","tags":["Profiles"],"summary":"Delete a profile","responses":{"204":{"description":"Deleted. No response body."},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/ProfileNotFound"}}}},"/partner/{partnerId}/profile/{profileId}/measurements":{"parameters":[{"$ref":"#/components/parameters/partnerId"},{"$ref":"#/components/parameters/profileId"},{"$ref":"#/components/parameters/partnerUserId"},{"$ref":"#/components/parameters/tfPartnerUserId"}],"get":{"operationId":"getMeasurements","tags":["Measurements"],"summary":"Read the profile's measurements","responses":{"200":{"description":"The profile's measurements. Each exact measurement is echoed as submitted and\nadditionally carries a normalized value in True Fit's standard unit (inches for\nlengths and girths, pounds for weight, months for age).\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeasurementsResponse"},"examples":{"heightWeightAge":{"value":{"exactMeasurements":{"height":{"unit":"ft","value":5,"secondUnit":"in","secondValue":6,"normalizedValue":66,"normalizedUnit":"in"},"weight":{"unit":"lb","value":140,"normalizedValue":140,"normalizedUnit":"lb"}},"generalMeasurements":{"waist":"typical"}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/ProfileNotFound"}}},"put":{"operationId":"upsertMeasurements","tags":["Measurements"],"summary":"Add or replace measurements","description":"Upserts the measurements you send. Measurement points you omit are left untouched;\nthis is not a full replacement of the measurement set.\n\nWriting measurements re-runs body estimation, so a recommendation requested\nimmediately afterwards may return `userEstimationInProgress`. Retry after a short delay.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeasurementsRequest"},"examples":{"exact":{"value":{"exactMeasurements":{"height":{"unit":"ft","value":5,"secondUnit":"in","secondValue":6},"weight":{"unit":"lb","value":140},"age":{"unit":"year","value":30}}}},"general":{"value":{"generalMeasurements":{"waist":"typical","bust":"small"}}}}}}},"responses":{"200":{"description":"Measurements written. No response body."},"400":{"$ref":"#/components/responses/ValidationFailed"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/ProfileNotFound"}}}},"/partner/{partnerId}/profile/{profileId}/closet":{"parameters":[{"$ref":"#/components/parameters/partnerId"},{"$ref":"#/components/parameters/profileId"},{"$ref":"#/components/parameters/partnerUserId"},{"$ref":"#/components/parameters/tfPartnerUserId"}],"get":{"operationId":"listClosetItems","tags":["Closet"],"summary":"List the profile's closet items","responses":{"200":{"description":"The profile's closet items. String fields are returned lowercased - `sellingSize`\nis the exception and is stored and returned verbatim.\n","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClosetItem"}},"examples":{"single":{"value":[{"closetId":"1893471","department":"womens","category":"bottoms","hierarchyLabels":["womens","bottoms"],"brand":"nike","sellingLocale":"us","sellingSize":"L","sizeVariants":{"sizeType":"regular"},"fitAttributes":null,"updatedAt":"2026-07-31T16:02:10.000Z"}]}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/ProfileNotFound"}}},"post":{"operationId":"createClosetItem","tags":["Closet"],"summary":"Add a closet item","description":"Adds a garment the user owns. The submitted combination of `brand`, `department`,\n`category`, `sellingLocale`, `hierarchyLabels`, `sellingSize`, and\n`sizeVariants.sizeType` must resolve to a size that exists in True Fit's catalogue -\narbitrary garments cannot be added. See the integration guide for how to pick values\nthat validate.\n\nAdding a closet item re-runs body estimation, so a recommendation requested\nimmediately afterwards may return `userEstimationInProgress`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClosetItemRequest"},"examples":{"womensBottoms":{"value":{"department":"womens","category":"bottoms","hierarchyLabels":["womens","bottoms"],"brand":"Nike","sellingLocale":"US","sellingSize":"L","sizeVariants":{"sizeType":"regular"}}}}}}},"responses":{"201":{"description":"Closet item added. No response body."},"400":{"$ref":"#/components/responses/ValidationFailed"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/ProfileNotFound"},"500":{"$ref":"#/components/responses/UnvalidatedClosetSize"}}}},"/partner/{partnerId}/profile/{profileId}/closet/{closetItemId}":{"parameters":[{"$ref":"#/components/parameters/partnerId"},{"$ref":"#/components/parameters/profileId"},{"$ref":"#/components/parameters/closetItemId"},{"$ref":"#/components/parameters/partnerUserId"},{"$ref":"#/components/parameters/tfPartnerUserId"}],"put":{"operationId":"updateClosetItem","tags":["Closet"],"summary":"Update a closet item","description":"Partially updates a closet item. The fields you send are merged over the stored item and\nthe merged result is re-validated against True Fit's size catalogue, so a partial update\ncan be rejected because of fields you did not send.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateClosetItemRequest"},"examples":{"resize":{"value":{"sellingSize":"M"}}}}}},"responses":{"200":{"description":"Closet item updated. No response body."},"400":{"$ref":"#/components/responses/ValidationFailed"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/ProfileNotFound"},"500":{"$ref":"#/components/responses/UnvalidatedClosetSize"}}},"delete":{"operationId":"deleteClosetItem","tags":["Closet"],"summary":"Delete a closet item","responses":{"204":{"description":"Deleted. No response body."},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/ProfileNotFound"}}}},"/partner/{partnerId}/profile/{profileId}/recommendation/bulk":{"parameters":[{"$ref":"#/components/parameters/partnerId"},{"$ref":"#/components/parameters/profileId"},{"$ref":"#/components/parameters/partnerUserId"},{"$ref":"#/components/parameters/tfPartnerUserId"}],"post":{"operationId":"getBulkRecommendation","tags":["Recommendations"],"summary":"Recommend sizes for up to 100 products","description":"Returns a recommended size per product for the given profile.\n\nThe response array has the **same length and order as the request array**, so results\ncan be matched positionally. Each result also echoes the `retailerDomain`, `productId`,\nand `locale` you sent. Failures are per item: a product that cannot be recommended\nreturns `success: false` with an `error`, and does not fail the other items.\n\nThis is a `POST` because the product list is sent in the body; it has no side effects\nand returns `201`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequest"},"examples":{"mixed":{"value":[{"retailerDomain":"https://NYDJ.com/collections/jeans","productId":"7093242789933","locale":"en_US"},{"retailerDomain":"landsend.com","productId":"532582","locale":"en_US"},{"retailerDomain":"unknown.example.org","productId":"abc","locale":"en_US"}]}}}}},"responses":{"201":{"description":"One result per requested item, in request order.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BulkRecommendationResult"}},"examples":{"mixed":{"value":[{"retailerDomain":"https://NYDJ.com/collections/jeans","productId":"7093242789933","locale":"en_US","success":true,"recommendedSize":"10"},{"retailerDomain":"landsend.com","productId":"532582","locale":"en_US","success":false,"error":"noSizesFitTheUser"},{"retailerDomain":"unknown.example.org","productId":"abc","locale":"en_US","success":false,"error":"Unsupported retailer domain"}]}}}}},"400":{"$ref":"#/components/responses/ValidationFailed"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/ProfileNotFound"}}}},"/partner/{partnerId}/general-guidance/bulk":{"parameters":[{"$ref":"#/components/parameters/partnerId"}],"post":{"operationId":"getBulkGeneralGuidance","tags":["Recommendations"],"summary":"Get aggregate fit guidance for up to 100 products","description":"Returns crowd-sourced fit guidance for products - how the product ran for other\nshoppers - without reference to any individual user.\n\nUnlike every other endpoint, this one needs **no user identifier**: the partner API key\nalone authorizes it, and no `partnerUserId` or `tfPartnerUserId` query parameter is\nrequired. Use it for anonymous visitors and for product pages where no profile exists.\n\nThe response array has the same length and order as the request array, and failures are\nper item.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequest"},"examples":{"mixed":{"value":[{"retailerDomain":"nydj.com","productId":"7093242789933","locale":"en_US"},{"retailerDomain":"unknown.example.org","productId":"abc","locale":"en_US"}]}}}}},"responses":{"201":{"description":"One result per requested item, in request order.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BulkGeneralGuidanceResult"}},"examples":{"mixed":{"value":[{"retailerDomain":"nydj.com","productId":"7093242789933","locale":"en_US","success":true,"recommendationSummary":"Runs small","recommendationMessage":"Most shoppers found this ran small - consider sizing up."},{"retailerDomain":"unknown.example.org","productId":"abc","locale":"en_US","success":false,"error":"Unsupported retailer domain"}]}}}}},"400":{"$ref":"#/components/responses/ValidationFailed"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/UnsupportedPartner"}}}}},"components":{"securitySchemes":{"partnerApiKey":{"type":"http","scheme":"basic","description":"Empty username, partner API key as the password:\n`Authorization: Basic <base64(\":\" + apiKey)>`.\n"}},"parameters":{"partnerId":{"name":"partnerId","in":"path","required":true,"description":"Your partner identifier, issued during onboarding.","schema":{"type":"string"},"example":"acme"},"profileId":{"name":"profileId","in":"path","required":true,"description":"A profile belonging to the identified user, from `GET /profile`. Profiles belonging to\nanother user return `404` rather than `403`, so the endpoint cannot be used to probe\nfor the existence of other users' profiles.\n","schema":{"type":"string","format":"uuid"},"example":"7c9e6679-7425-40de-944b-e07fc1f90ae7"},"closetItemId":{"name":"closetItemId","in":"path","required":true,"description":"A closet item identifier, from the `closetId` field of `GET /closet`.","schema":{"type":"string"},"example":"1893471"},"partnerUserId":{"name":"partnerUserId","in":"query","required":false,"description":"Your own identifier for the user, as passed to `GET /id-sync`. Send either this or\n`tfPartnerUserId`; omitting both returns `400`. If both are sent, `tfPartnerUserId` wins.\n","schema":{"type":"string"},"example":"acme-user-42817"},"tfPartnerUserId":{"name":"tfPartnerUserId","in":"query","required":false,"description":"True Fit's identifier for the user, returned by `GET /id-sync`. Send either this or\n`partnerUserId`; omitting both returns `400`. Takes precedence when both are sent.\n","schema":{"type":"string"},"example":"p-3f9c1a80-5d2e-4a17-9b64-8e0c2d7f1a55"}},"responses":{"Unauthorized":{"description":"Missing or invalid Basic credentials, or a user identifier that does not match a known\npartner user.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missingCredentials":{"value":{"statusCode":401,"message":"Missing Basic auth credentials","error":"Unauthorized"}},"invalidCredentials":{"value":{"statusCode":401,"message":"Invalid credentials","error":"Unauthorized"}},"unknownUser":{"summary":"The identifier has no True Fit mapping - call GET /id-sync first","value":{"statusCode":401,"message":"Unknown partner user","error":"Unauthorized"}}}}}},"UnsupportedPartner":{"description":"The `partnerId` is unknown or disabled. Returned before credentials are checked, so an\ninvalid API key against an unknown partner is a `404`, not a `401`.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"unsupportedPartner":{"value":{"statusCode":404,"message":"Unsupported partner","error":"Not Found"}}}}}},"ProfileNotFound":{"description":"The `profileId` does not exist or does not belong to the identified user. Also returned\nwhen the `partnerId` is unknown or disabled.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"profileNotFound":{"value":{"statusCode":404,"message":"Profile not found","error":"Not Found"}}}}}},"ValidationFailed":{"description":"The request body or query string failed schema validation. `error` maps each failing\nfield path to its message; array indices appear as the first path segment.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"},"examples":{"missingField":{"value":{"message":"Validation failed","error":{"0.retailerDomain":"Invalid input: expected string, received undefined"}}},"badEnum":{"value":{"message":"Validation failed","error":{"category":"Invalid option: expected one of \"belts\"|\"bottoms\"|\"bras\""}}}}}}},"MissingUserIdentifier":{"description":"Neither `partnerUserId` nor `tfPartnerUserId` was supplied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missingIdentifier":{"value":{"statusCode":400,"message":"tfPartnerUserId or partnerUserId query parameter is required","error":"Bad Request"}}}}}},"MissingIdSyncParams":{"description":"`partnerId` or `partnerUserId` was not supplied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missingParams":{"value":{"statusCode":400,"message":"Missing required params","error":"Bad Request"}}}}}},"UnvalidatedClosetSize":{"description":"A server error. On these endpoints it also indicates a closet item that does not match a\nsize in True Fit's catalogue, in which case retrying the identical payload will not\nsucceed. Verify the `brand`, `department`, `category`, `sellingLocale`, `hierarchyLabels`,\n`sellingSize`, and `sizeVariants.sizeType` combination; `sellingSize: null` is not\naccepted.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalidSize":{"value":{"statusCode":500,"message":"Internal server error"}}}}}}},"schemas":{"Error":{"type":"object","description":"Standard error body.","required":["statusCode","message"],"properties":{"statusCode":{"type":"integer","example":404},"message":{"type":"string","example":"Profile not found"},"error":{"type":"string","example":"Not Found"}}},"ValidationError":{"type":"object","description":"Schema validation failure. Note this body carries no `statusCode`.","required":["message","error"],"properties":{"message":{"type":"string","example":"Validation failed"},"error":{"type":"object","description":"Failing field path to error message.","additionalProperties":{"type":"string"}}}},"Department":{"type":"string","description":"Garment department. Matched case-insensitively - `Womens` and `womens` are both accepted\n- and stored lowercased.\n","enum":["baby","boys","donotrecommend","girls","maternity","mens","not apparel","other","unisexkids","womens","unisex"],"example":"womens"},"ClosetCategory":{"type":"string","description":"Garment category. Matched case-insensitively and stored lowercased.\n","enum":["belts","bottoms","bras","dresses","hats","hosiery","intimates","gloves","neckwear","nightgowns","not apparel","other","pajamabottoms","pajamatops","pajamasets","robes","shoes","scarves","socks","suits","swim","swimbottoms","swimsuits","swimtops","tops"],"example":"bottoms"},"SizeType":{"type":"string","description":"Size range the garment belongs to. Matched case-insensitively and stored lowercased.\n","enum":["regular","plus","juniors","petite","slim","bigandtall","curvy","unisex","tall","husky"],"example":"regular"},"MeasurementPoint":{"type":"string","description":"A point on the body that can carry a measurement. Case-sensitive.","enum":["armLength","bust","calf","chest","cupSize","footBall","footHeelToBall","footInstepHeight","footInstepWidth","footLength","footWidth","head","height","highHip","inseam","inseamWithLift","lowHip","naturalWaist","neck","ribcage","shoulders","sleeveLength","stomach","thigh","torsoLength","upperArm","waist","weight","footArchSupport","toe","heelWidth","sleeveWidth","age"],"example":"height"},"Uom":{"type":"string","description":"Unit of measure.","enum":["cm","mm","ft","in","kg","year","st","lb","month"],"example":"in"},"GeneralMeasurementValue":{"type":"string","description":"A qualitative measurement - how the user describes a body point or fit preference.","enum":["verySmall","small","typical","big","veryBig"],"example":"typical"},"ExactMeasurementValue":{"type":"object","description":"A numeric measurement. Compound values use both unit pairs: 5'6\" is\n`{ unit: \"ft\", value: 5, secondUnit: \"in\", secondValue: 6 }`.\n","required":["unit","value"],"properties":{"unit":{"allOf":[{"$ref":"#/components/schemas/Uom"}],"description":"Primary unit - `ft` for feet, `kg` for kilograms, and so on."},"value":{"type":"number","example":5},"secondUnit":{"allOf":[{"$ref":"#/components/schemas/Uom"}],"description":"Secondary unit, used alongside the primary - `in` for inches with `ft` for feet."},"secondValue":{"type":"number","example":6}}},"ExactMeasurementResponseValue":{"allOf":[{"$ref":"#/components/schemas/ExactMeasurementValue"},{"type":"object","required":["normalizedValue","normalizedUnit"],"properties":{"normalizedValue":{"type":"number","description":"The measurement converted to True Fit's standard unit for that point.","example":66},"normalizedUnit":{"type":"string","description":"Standard unit for the point - `in` for lengths and girths, `lb` for weight,\n`month` for age.\n","example":"in"}}}]},"MeasurementsRequest":{"type":"object","description":"Measurements to upsert. Points you omit are left unchanged. At least one of the two\nmaps should be present; an empty object is accepted and is a no-op.\n","properties":{"exactMeasurements":{"type":"object","description":"Numeric measurements keyed by measurement point.","propertyNames":{"$ref":"#/components/schemas/MeasurementPoint"},"additionalProperties":{"$ref":"#/components/schemas/ExactMeasurementValue"}},"generalMeasurements":{"type":"object","description":"Qualitative measurements keyed by measurement point - how the user describes a body\npoint, or how they prefer a garment to fit there.\n","propertyNames":{"$ref":"#/components/schemas/MeasurementPoint"},"additionalProperties":{"$ref":"#/components/schemas/GeneralMeasurementValue"}}}},"MeasurementsResponse":{"type":"object","required":["exactMeasurements","generalMeasurements"],"properties":{"exactMeasurements":{"type":"object","propertyNames":{"$ref":"#/components/schemas/MeasurementPoint"},"additionalProperties":{"$ref":"#/components/schemas/ExactMeasurementResponseValue"}},"generalMeasurements":{"type":"object","propertyNames":{"$ref":"#/components/schemas/MeasurementPoint"},"additionalProperties":{"$ref":"#/components/schemas/GeneralMeasurementValue"}}}},"CreateProfileRequest":{"type":"object","properties":{"department":{"allOf":[{"$ref":"#/components/schemas/Department"}],"description":"The department the user primarily shops."},"alias":{"type":"string","description":"A label for the profile, shown to the user. Not required to be unique.","example":"Primary"}}},"UpdateProfileRequest":{"type":"object","description":"Every field is optional; only the fields you send are changed.","properties":{"department":{"allOf":[{"$ref":"#/components/schemas/Department"}]},"alias":{"type":"string","example":"Weekend"},"registeredAt":{"type":"string","format":"date-time","description":"When the user registered with you. Set once when the user creates an account."},"savedAt":{"type":"string","format":"date-time","description":"When the user last explicitly saved the profile."}}},"Profile":{"type":"object","required":["profileId","isActive","estimatedDob","originStore","originLocale","createdAt","updatedAt"],"properties":{"profileId":{"type":"string","format":"uuid"},"alias":{"type":"string","example":"Primary"},"department":{"allOf":[{"$ref":"#/components/schemas/Department"}]},"userId":{"type":"string","description":"True Fit's internal user identifier. Not required for any partner call."},"isActive":{"type":"boolean","description":"Whether this is the active profile in a browser session. Always `false` for partner\nrequests, which carry no browser session - ignore it.\n"},"estimatedDob":{"type":["string","null"],"format":"date-time","description":"Date of birth inferred from the profile's age measurement, when available."},"originStore":{"type":["string","null"],"description":"Where the profile was created. Profiles you create through this API carry your\n`partnerId`.\n","example":"acme"},"originLocale":{"type":["string","null"],"example":"en_US"},"registeredAt":{"type":["string","null"],"format":"date-time"},"savedAt":{"type":["string","null"],"format":"date-time"},"createdAt":{"type":["string","null"],"format":"date-time"},"updatedAt":{"type":["string","null"],"format":"date-time"}}},"CreateClosetItemRequest":{"type":"object","description":"A garment the user owns. The combination of fields must resolve to a size in True Fit's\ncatalogue or the request is rejected - see the integration guide.\n","required":["department","category","hierarchyLabels","brand","sellingLocale","sellingSize","sizeVariants"],"properties":{"department":{"$ref":"#/components/schemas/Department"},"category":{"$ref":"#/components/schemas/ClosetCategory"},"hierarchyLabels":{"type":"array","description":"The garment's position in the brand's category hierarchy, coarsest first. Must match\nthe hierarchy True Fit holds for that brand, department, and category. Stored\nlowercased.\n","items":{"type":"string"},"example":["womens","bottoms"]},"brand":{"type":"string","description":"Brand name. Stored lowercased.","example":"Nike"},"sellingLocale":{"type":"string","minLength":2,"maxLength":2,"description":"Two-letter country code for the market the garment was bought in. Stored lowercased.\n","example":"US"},"sellingSize":{"type":["string","null"],"minLength":1,"description":"The size on the garment's label, exactly as printed. Stored and returned verbatim,\nnot lowercased. Always send a real size - `null` is not accepted.\n","example":"L"},"sizeVariants":{"type":"object","required":["sizeType"],"properties":{"sizeType":{"$ref":"#/components/schemas/SizeType"},"sleeveLength":{"type":"string"},"shoeWidth":{"type":"string"},"cupSize":{"type":"string"}}},"fitAttributes":{"type":["object","null"],"description":"Free-form fit notes about this garment as string key/value pairs. Defaults to `null`.\n","additionalProperties":{"type":"string"}}}},"UpdateClosetItemRequest":{"type":"object","description":"Every field is optional. The fields you send are merged over the stored item and the\nmerged result is re-validated against True Fit's catalogue.\n","properties":{"department":{"$ref":"#/components/schemas/Department"},"category":{"$ref":"#/components/schemas/ClosetCategory"},"hierarchyLabels":{"type":"array","items":{"type":"string"}},"brand":{"type":"string"},"sellingLocale":{"type":"string","minLength":2,"maxLength":2},"sellingSize":{"type":["string","null"],"minLength":1},"sizeVariants":{"type":"object","required":["sizeType"],"properties":{"sizeType":{"$ref":"#/components/schemas/SizeType"},"sleeveLength":{"type":"string"},"shoeWidth":{"type":"string"},"cupSize":{"type":"string"}}},"fitAttributes":{"type":["object","null"],"additionalProperties":{"type":"string"}}}},"ClosetItem":{"allOf":[{"$ref":"#/components/schemas/CreateClosetItemRequest"},{"type":"object","required":["closetId","updatedAt"],"properties":{"closetId":{"type":"string","description":"Identifier for this closet item, used in the item's path.","example":"1893471"},"updatedAt":{"type":"string","format":"date-time"}}}]},"BulkRequestItem":{"type":"object","required":["retailerDomain","productId"],"properties":{"retailerDomain":{"type":"string","minLength":1,"description":"The retailer the product belongs to, as a hostname. A full URL is also accepted -\nonly the hostname is used, and protocol, port, path, and query string are discarded.\n`www.` is **not** stripped, so the hostname must match the mapping True Fit holds for\nthat retailer. Matching is case-insensitive. Ask True Fit to register any retailer\ndomain you intend to send.\n","examples":["nydj.com","https://NYDJ.com:443/collections/jeans?utm=x"]},"productId":{"type":"string","minLength":1,"description":"The retailer's own product identifier.","example":"7093242789933"},"locale":{"type":"string","description":"Locale for the product data and any returned copy, as `language_COUNTRY`. Defaults\nto the retailer's primary locale when omitted.\n","example":"en_US"}}},"BulkRequest":{"type":"array","description":"Between 1 and 100 items. Duplicate products are permitted and each gets its own result.","minItems":1,"maxItems":100,"items":{"$ref":"#/components/schemas/BulkRequestItem"}},"BulkRecommendationResult":{"description":"One result, echoing the request item's fields. Match results to requests by position.\n","oneOf":[{"title":"Recommended","allOf":[{"$ref":"#/components/schemas/BulkRequestItem"},{"type":"object","required":["success","recommendedSize"],"properties":{"success":{"type":"boolean","const":true},"recommendedSize":{"type":"string","description":"The recommended size label, as the retailer prints it.","example":"10"}}}]},{"title":"Not recommended","allOf":[{"$ref":"#/components/schemas/BulkRequestItem"},{"type":"object","required":["success","error"],"properties":{"success":{"type":"boolean","const":false},"error":{"type":"string","description":"Why no size was returned.\n\nDomain resolution:\n  * `Invalid retailerDomain` - the value could not be parsed as a hostname.\n  * `Unsupported retailer domain` - the hostname is not mapped to a retailer.\n  * `No recommendation returned for product` - the product is unknown to True Fit.\n\nFit outcomes:\n  * `incompleteProfile` - the profile lacks the measurements needed for this garment.\n  * `noProfile` - the profile no longer exists.\n  * `userEstimationInProgress` - body estimation is still running after a\n    profile, measurement, or closet write. Retry after a short delay.\n  * `noSizesFitTheUser` - no stocked size fits.\n  * `invalidGender` - the product's department does not apply to this profile.\n  * `unrecommendableDepartment` - the product is in a department True Fit does\n    not size, such as accessories.\n  * `productMissingData` - the product lacks the garment data needed to size it.\n  * `recommendationDisabled` - recommendations are turned off for that retailer.\n  * `error` - an unexpected failure. Safe to retry.\n","examples":["Unsupported retailer domain","incompleteProfile","userEstimationInProgress"]}}}]}]},"BulkGeneralGuidanceResult":{"description":"One result, echoing the request item's fields. Match results to requests by position.\n","oneOf":[{"title":"Guidance available","allOf":[{"$ref":"#/components/schemas/BulkRequestItem"},{"type":"object","required":["success","recommendationSummary","recommendationMessage"],"properties":{"success":{"type":"boolean","const":true},"recommendationSummary":{"type":"string","description":"Short headline describing how the product runs, localized to `locale`.","example":"Runs small"},"recommendationMessage":{"type":"string","description":"Longer explanation suitable for display, localized to `locale`.","example":"Most shoppers found this ran small - consider sizing up."}}}]},{"title":"No guidance","allOf":[{"$ref":"#/components/schemas/BulkRequestItem"},{"type":"object","required":["success","error"],"properties":{"success":{"type":"boolean","const":false},"error":{"type":"string","description":"Why no guidance was returned.\n  * `Invalid retailerDomain` - the value could not be parsed as a hostname.\n  * `Unsupported retailer domain` - the hostname is not mapped to a retailer.\n  * `No general guidance returned for product` - the product is unknown, or\n    too few shoppers have rated it to produce guidance.\n","examples":["Unsupported retailer domain","No general guidance returned for product"]}}}]}]}}}}